@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import "reset.css";
@import "status-bar.css";
@import "variables.css";

* {
    font-family: 'Oswald', sans-serif;
}

.welcome-header {
    margin: 90px 0;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.welcome-header__title {
    font-size: 25px;
    font-weight: 500;
}
.welcome-header__text {
    color: #ddd;
    margin-bottom: 20px;
    width: 60%;
}
#login-form {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
#login-form input {
    padding: 20px;
    border: none;
    font-size: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: border-color 0.3s ease-in-out;
}
#login-form input:nth-child(2) {
    margin-bottom: 40px;
}
#login-form input:nth-child(3) {
    border-radius: 5px;
}
#login-form a {
    margin-top: 15px;
    text-align: center;
    color: silver;
    font-size: 14px;
    text-decoration: none;
}
#login-form input::placeholder {
    color:silver;
}
#login-form input:focus {
    border-color: var(--yellow);
}